


@media only screen and (max-width:414px){
 

/* MEDIAQUERY DESKTOP-FIRST NAV HEADER */

    .card__description{
        justify-content: center;
    }
    .title__first__card,
    .text{
        text-align: center;
    }
    .title{
        font-size: 20px;
    }
    .text{
        font-size: 1rem;
    }
    .blue__button,
    .phone{
        margin: 0 auto;
    }
/* MEDIAQUERY DESKTOP-FIRST HERO */


    [class^="col__"]{
        flex-basis: 100%;
    }
    
    /* MEDIAQUERY DESKTOP-FIRST PLANNING SECTION  */

    .title__planning{
        font-size: 2rem ;
    }

      /* MEDIAQUERY DESKTOP-FIRST PARTNERS SECTION  */

    .partner{
        flex-direction: column;
    }
    .text__partners--description,
    .cite--description,
    .subtitle__partners{
        text-align: center;
    }
    .text__partners, 
    .subtitle__partners{
        margin: 0 32px;
    }
    .partners__description{
        padding: 0;
    }

     /* MEDIAQUERY DESKTOP-FIRST BENEFITS SECTION  */

     .card__benefits{
        flex-basis: 100%;
     }
    




}