
/* CSS STANDARD  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
li,
ol,
menu{
    list-style-type: none;
}
html{
    font-family:‘Noto Sans JP’, sans-serif;
}
a{
    text-decoration: none;
}
:root{
    --blue:#1f84fd;
    --lightblue: #b5ddff;
    --purple:#9792e4;
    --yellow:#fbc15f;
    --grey:#829fb7;
}
.container{
    max-width: 1156px;
    margin: 0 auto;
}
.container__small{
    max-width: 880px;
    margin: 0 auto;
}
.col__80{
    flex-basis: 80%;
}
.col__60{
    flex-basis: calc(100%/(3/2) - 16px /2);
}
.col__50{
    flex-basis: calc(100%/2 - 64px);
}
.col__30{
    flex-basis: calc(100%/3 - 16px / (3/2));
}
.col__20{
    flex-basis: 20%;
}

.title{
    font-size: 1.5rem;
    color: var(--blue);
}

.text{
    font-size: 16px;
    color: var(--grey);
    font-weight: 600;
}


/* NAV HEADER  */

.nav__header{
    background-color: var(--blue);
}
.nav__bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}
.nav__list{
    display: flex;
    flex-direction: row;
}
.nav__list__item{
    color: white;
    padding: 0 16px;
}
.button{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 5px 16px;
}
.fa-solid.burger{
    display: none;
    color: white;
    font-size: 20px;
}



/* HERO SECTION  */

.row{
    display: flex;
    flex-wrap: wrap;
}
.hero__row{
    gap: 30px 16px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.card{
    background-color: var(--lightblue);
    border-radius: 20px;
    height: 100%;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    align-items:center;
}
.first__card{
    display:flex;
    flex-direction: row;
}
.card__description,
.card__image{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}
.card__description{
    justify-content: space-around;
    padding: 30px;
}
.title__first__card,
.text__first__card{
    margin: 2rem 0;
    line-height: 2rem;
}
.blue__button{
    background-color: var(--blue);
    color: white;
    max-width: fit-content;
    padding: 5px 50px;
    line-height: 2rem;
}
.fa-apple{
    font-size: 1rem;
}
.card__image{
    margin-top: auto;
}
.phone{
    width: 70%;
}
.icon{
    color: var(--blue);
    font-size: 5rem;
    padding: 2rem 0;
}
.text__card{
    padding: 2rem;
    line-height: 2rem;
}


/* PLANNING SECTION  */

.planning{
    background-color: var(--purple);
}
.planning__row{
    gap: 64px;
    padding-top: 15%;
    padding-bottom: 7%;
    align-items: flex-end;
}
.planning__1{
    width: 100%;
}
.planning__2{
    width: 60%;
}
.white__card{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img__white__card{
    display: flex;
    justify-content: center;
}
.title__planning{
    font-size: 2rem;
    color: white;
    margin: 2rem 0;
}
.title__planning__small{
    font-size: 1.5rem;
    color: black;
    margin: 1.5rem 0;
}
.text__planning{
    color: white;
    line-height: 2rem;
}
.text__planning__italic{
    line-height: 1.5rem;
    padding: 0.5rem;
    text-align: center;
    font-style: italic;
}
.arrow{
    background-color: var(--purple);
    line-height: 2rem;
    margin: 2rem 0;
}


/* SECTION PARTENRS  */

.container.partners{
    padding: 50px 0 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;

}
.title__partners{
    font-size: 1rem;
    font-weight: 400;
}
.subtitle__partners{
    font-size: 2rem;
    color: var(--purple);
    font-weight: 700;
}
.text__partners, 
.text__partners--description,
.cite--description{
    font-size: 1rem;
    text-align: center;
    line-height: 2em;
}
.text__partners--description,
.cite--description{
    color: white;
    text-align: start;
}
.text__partners--description{
    margin: 20px 10px;
}
.cite--description{
    margin: 30px 10px 0;
    font-weight: 600;
}
.partners__description{
    margin: 20px 0px;
    padding: 0 20px;
}
.partner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    background-color: var(--purple);
    padding: 40px 10px;
}
.partners--img{
    object-fit: cover;
    border-radius: 50%;
    height: 220px;
    width: 100%;
}




