

/* MEDIAQUERY DESKTOP-FIRST NAV HEADER */

@media only screen and (max-width: 820px){
    .fa-solid.burger{
        display:inline-block;
    }
    .nav__list{
        display: none;
    }
}

@media only screen and (max-width:820px){
    .hero__row{
        padding: 0 32px;
    }
    .first__card{
        display: flex;
        flex-direction: column;
    }
}