



@media only screen and (max-width: 820px){
    /* MEDIAQUERY DESKTOP-FIRST NAV HEADER */
    .fa-solid.burger{
        display:inline-block;
    }
    .nav__list{
        display: none;
    }

    /* MEDIAQUERY DESKTOP-FIRST HERO SECTION  */
    .hero__row{
        padding: 0 32px;
    }
    .first__card{
        display: flex;
        flex-direction: column;
    }

    /* MEDIAQUERY DESKTOP-FIRST PLANNING SECTION  */

    .col__50{
        flex-basis: 100%;
        margin: 0 2rem;
    }
    .planning__2{
        width: 100%;
    }
    .title__planning{
        font-size: 4rem;
    }
    .title__planning__small{
        font-size: 2rem;
    }
    .text__planning__italic{
        padding: 1rem;
    }
    
}